@import url("variables.css");
@import url("header.css");

body {
    font-family: var(--fonte-principal);
    color: var(--cor-texto);
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

main {
    text-align: center;
    margin-top: var(--espacamento-padrao);
}

.botao {
    background-color: var(--cor-botao);
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    transition: background 0.3s ease;
}

.botao:hover {
    background-color: var(--cor-botao-hover);
}
